# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/

# Heroku
*.env

# Temporary upload files (if you use multer or similar)
uploads/