/* src/HomePage.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #e0f7fa; 
  /* background-image: url("../public/images/logo.png");  */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 120px;
}

.logo {
  width: 150px;
  height: auto;
  position: flex;
  top: 0.05px;
  left: 28%;
}

.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.welcome-text {
  background-color: #c82333;
  position: flex;
  top: 20%;
  font-size: 1.2rem;
  margin-left: 20px;
  color: #333;
}

.logout-btn {
  padding: 10px 15px;
  margin-left: 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.logout-btn:hover {
  background-color: #c82333;
}

.main-content {
  text-align: center;
  margin-top: 50px;
}

.swiper-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.model-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.swiper-container {
  width: 80%;
  max-width: 600px;
  height: 400px; 
  margin: 0 auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.welcome{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}